h1{

  font-family: "Courier New", Courier, monospace;
  color: black;
}

h2{

  font-family: "Courier New", Courier, monospace;
  color: black;
}

p{

  font-family: "Courier New", Courier, monospace;
}

body {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BTrHt7uCiu335hjs/retro-video-game-pixel-art-blue-sky-background-pixelated-clouds-hd-animation_hihuha98x_thumbnail-full01.png");
  background-color: #90FFCB;
}
